body {
  margin: 0;
  font-family: "Russo One", sans-serif;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

canvas {
  display: block;
}

.score-box {
  user-select: none;
  position: fixed;
  margin: 1rem 0 0 1rem;
  font-size: 1.3rem;
  color: white;
}

.ui-main-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.ui-box {
  background-color: white;
  max-width: 40rem;
  width: 100%;
  padding: 2rem;
}

#ui-score {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 0;
}

#ui-points {
  margin: 2.5rem 0 2rem 0;
  font-size: 1.5rem;
  color: rgb(165, 165, 165);
  line-height: 0;
}

#ui-button {
  font-size: 1.5rem;
  font-family: "Russo One", sans-serif;
  border: none;
  border-radius: 3rem;
  color: white;
  background-color: rgb(31, 129, 249);
  padding: 1rem;
  width: 100%;
}
